/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */
body{
   -webkit-font-smoothing:antialiased;
   text-rendering: optimizeLegibility;
}

.well .page-header{
   margin-top:0;
}
.well .page-header h1{
   margin-top:0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
   #SearchInput{
      width:200px;
   }
   
   #head{

      background-color: yellow;
   }
   .navbar-brand{
      padding: 13px 15px;
   }


   
/* --------------------------------------
   Carousel
   -------------------------------------- */
#MyCarousel{
   margin-top: 60px;
   
}


#MyCarousel .item{
   height: 400px;
}

.carousel-caption{
   font-size: 24px;
   color: black;
}
.carousel-caption h4{
   font-size: 32px;
}
#slide1{
   
   background: url('../../images/download.jpeg') top center no-repeat;
}
#slide2{
   
   background: url('../../images/minion_banana.jpg') top center no-repeat;
}
#slide3{
   
   background: url('../../images/Funny.jpg') top center no-repeat;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */
.alert {
   margin-top: 20px;
}

.tabbable img.thumbnail{
   margin: 0px 20px;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
#MyCarousel .item{
   height: 310px;
}
#slide1{
   
   background: url('../../images/download.jpeg') top center no-repeat;
}
#slide2{
   
   background: url('../../images/minion_banana.jpg') top center no-repeat;
}
#slide3{
   
   background: url('../../images/Funny.jpg') top center no-repeat;
   height: auto;
   width: 100%; 
}

.carousel-caption{
   font-size: 16px;
}
.carousel-caption h4{
   font-size: 22px;
}
}

/* Large desktop */
@media (min-width: 1200px) {

#MyCarousel .item{
   height: 500px;
}
#slide1{
   
   background: url('../../images/download.jpeg') top center no-repeat;
}
#slide2{
   
   background: url('../../images/minion_banana.jpg') top center no-repeat;
}
#slide3{
   
   background: url('../../images/Funny.jpg') top center no-repeat;
}	

}